div.about{
    padding: 50px 0;
    background-color: white;
}

.about-title{
    padding: 20px 0;
    color: black;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
} 

p.about {
    width: 80%;
    color: black;
    font-size: 1.4em;
    line-height: 40px;
    text-align: center;
    margin: auto;
}

strong {
    font-size: .9em;
}


@media only screen and (max-width: 414px) {
    /* div.about{
        padding: 100px 0;
    } */

    .about-title{
        font-size: 20px;
    }
    p.about {
        width: 90%;
        font-size: 1.0em;
    }
}