.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    max-height: 15000px;
  }
  
  .flex-item-left,
  .flex-item-right,
  .flex-item-middle {
    flex:33.333%;
    height: clamp(400px, 500px, 600px);
  }

  .flex-item-left:hover,
  .flex-item-right:hover,
  .flex-item-middle:hover {
    transform: scale(.95);
    /* overflow-x: hidden;
    overflow-y: hidden; */
    z-index: 100;
    opacity: .7;
  }

  .img_description {
    visibility: hidden;
  }

  .flex-item-left:hover .img_description, 
  .flex-item-right:hover .img_description,
  .flex-item-middle:hover .img_description  {
    visibility: visible;
    color: white;
    margin-top: 20%;
  }
  

  div.m1 {
    background-image: url("../images/m1.png");
    background-size: cover;
    background-position: 20% 50%;
  }
  div.m2 {
    background-image: url("../images/m2.png");
    background-size: cover;
    background-position: 20% 50%;
  }
  div.m3 {
    background-image: url("../images/m3.png");
    background-size: cover;
  }
  div.m4 {
    background-image: url("../images/m4.png");
    background-size: cover;
    background-position: 50% 50%;
  }
  div.m5 {
    background-image: url("../images/m5.png");
    background-size: cover;
  }
  div.m6 {
    background-image: url("../images/m6.png");
    background-size: cover;
    position: relative
  }

  @media only screen and (max-width: 600px) {
 
      .flex-item-right, .flex-item-left,
      .flex-item-middle  {
          flex: 100%;
        }
  }







/* .gallery-box {
    position: relative;
}

.gallery-box img {
    width: 100%;
    max-width: auto;
    max-height: 900px;
    min-height: 500px;
    height: clamp(500px 600px 900px);
}


.mySlides {
    display:none;
}

.button-left {
    position: absolute;
    top: 10px;
    left: 10px;
    transform: scale(5,3);
}

.button-right {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: scale(5,3);
}

button {
   background-color: transparent;
   border: none;
   color: white;
   padding: 100px 100px;
}

@media only screen and (max-width: 414px) {
    .button-left {
        top: -35px;
        left: -50px;
    }
    
    .button-right {
        top: -35px;
        right: -50px;
    }
} */
