@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    /* cursor: url('../images/maru1.png') 4 12 , auto; */
    /* cursor: url('../images/sushi1.png')  4 12 , auto; */
    /* cursor: url('../images/sashimi.png')  4 12 , auto; */
    /* overflow-x: hidden; */  
}

.header-background {    
    background-attachment: fixed;
    background-image: url('../images/main.jpg');
    background-color: black;
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}

.top-text {
     text-align: center;
     padding-top: 250px;
     /* margin: auto;
     width: 80%; */
}

p.cuisine{
    color: white;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin: -50px 0 -20px 0;
    font-family: 'Merienda', cursive;
    font-size: 30px;

    padding-bottom: 40px;
}

h1.header-maru {
    margin: 0;
    font-size: 50px;   
    font-family: 'Dancing Script', cursive;
    color: #fff;
}


/* navbar */
label .menu {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
    width: 100px;
    height: 100px;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

  }
  
  label .hamburger {
    position: absolute;
    top: 50px;
    left: 35px;
    width: 30px;
    height: 2px;
    background: white;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  
  label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: white;
  }
  
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
  label input { display: none; }
  
  label input:checked + .menu {
    /* box-shadow: 0 0 0 100vw #FFF, 0 0 0 10px #FFF; */
    border-radius: 0;    
  }
  
  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }
  
  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    
  }
  
  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
    
  }
  
  label input:checked + .menu + ul { opacity: 1; }
  
  label ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-transform: uppercase;
    margin-left: 40px;
    z-index: 200;
    position: absolute;
    top: 140px;
    right: -110px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    list-style-type: none;
  }
  
  label a {
    margin-bottom: 1em;
    display: block;
    color: white;
    text-decoration: none;
  } 
  
  .notice {
    background-color: black;
    margin: 200px auto;
    width: 60%;
    color: white;
    text-align: center;
  }
  
  .notice-sentence1 {
    font-size: 60px;
    padding: 100px 0;
  }
  
  .notice-sentence {
    font-size: 30px;
    padding-bottom: 100px;
  }



@media only screen and (max-width: 414px) {
    .header-background {
        /* height: 80vh; */
        object-fit: cover;
        background-position: center bottom;
      
    }

    p.cuisine { 
        letter-spacing: 4px;
        margin: 0 15px 15px 15px;
        font-size: 10px;
    }
    h1.header-maru{ font-size: 70px; }

    .notice {
      width: 100%;
      margin: 0;
    }
  
    .notice-sentence1 {
      font-size: 30px;
      padding: 100px 0 50px 0;
    }
    .notice-sentence {
      font-size: 15px;
    }
  }

@media only screen and (min-width: 415px) {
    p.cuisine { 
        letter-spacing: 4px;
        margin: 0 15px 15px 15px;
        font-size: .9em;
    }
    h1.header-maru{ 
        font-size: 90px; 
      }
      .notice {
        width: 100%;
        margin: 0;
      }
    
      .notice-sentence1 {
        font-size: 30px;
        padding: 100px 0 50px 0;
      }
      .notice-sentence {
        font-size: 15px;
      }
      
}

@media only screen and (min-width: 600px) {
h1.header-maru{ font-size:120x;
 }
p.cuisine { font-size: 1.0em; }
}

@media only screen and (min-width: 768px) {
h1.header-maru{ font-size: 130px; 
}
p.cuisine { font-size: 1.1em; }
} 

@media only screen and (min-width: 992px) {
h1.header-maru{ font-size: 200px; 
}
p.cuisine { font-size: 25px; }

.notice {
  margin: 100px auto;
  width: 60%;
}

.notice-sentence1 {
  font-size: 50px;
}

.notice-sentence {
  font-size: 30px;
  padding-bottom: 100px;
}
} 

@media only screen and (min-width: 1200px) {
p.cuisine { font-size: 30px; }
h1.header-maru{ font-size: 250px; 

}
}
