@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.content {
  position: relative;
}

.top-img {
  padding: 0;
  display: block;
  margin: 0 auto;
  margin-top: -25px;
  width: 100%;
  max-height: 100vh;
  background-color: black;
}

.top-text {
  color: #ffffff;
  position: absolute;
  top: 2%;
  right: 2%;
  text-align: center;
  /* padding-top: 5%; */
}

p.cuisine {
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  /* margin: -50px 0 -20px 0; */
  font-family: "Merienda", cursive;
  font-size: 15px;

  padding-bottom: 40px;
}

h1.header-maru {
  margin: 0;
  font-size: 100px;
  font-family: "Dancing Script", cursive;
  font-weight: 900;
  letter-spacing: 10px;
}

/* navbar */

label .menu {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 50;
  width: 100px;
  height: 100px;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 15%;
  right: 10%;
  width: 30px;
  height: 2px;
  background: white;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: white;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  /* box-shadow: 0 0 0 100vw #FFF, 0 0 0 10px #FFF; */
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-transform: uppercase;
  margin-left: 40px;
  z-index: 50;
  position: absolute;
  top: 80px;
  right: -135px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
  list-style-type: none;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: white;
  text-decoration: none;
}

.popup {
  max-width: 300px;
  background-color: black;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 35%;
  width: 99%;
  margin-top: 300px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  display: none;
  text-align: center;
  z-index: 100;
  color: #ffffff;
  padding: 0 30px;
}

.popup img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.popup button {
  display: block;
  background-color: transparent;
  font-size: 20px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 100;
  float: right;
  padding: 10px 20px 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.right {
  /* padding-left: 10px; */
  padding: 40px 10px;
}
.notice-sentence1 {
  color: #FF10F0;
  font-size: 25px;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}


.notice-sentence {
  max-width: 550px;
  text-align: left;
  margin: 0 auto 20px;
  font-size: 25px;
} */

.menu_container {
 display: none;
}

@media only screen and (max-width: 414px) {
  .menu_container {
    display: block;
   }

  .top-text {
    text-align: center;
    top: 30px;
    right: 65px;
  }

  p.cuisine {
    letter-spacing: 4px;
    margin: 0 15px 15px 15px;
    font-size: 30px;
  }
  h1.header-maru {
    font-size: 30px;
    letter-spacing: 10px;
  }

  .notice {    width: 100%;
    margin: 0;
  }
  .popup {
    width: 95%;
    top: 1%;
  }

  .notice-sentence1 {
    font-size: 20px;
  }
  
  .notice-sentence {
    max-width: 340px;
    text-align: center;
    /* margin: 0 auto 20px; */
    font-size: 15px;
    /* padding-left: 15px; */
    
  }
} 

@media only screen and (min-width: 415px) {

  label {
    display: block;
  }

  .top-text {
    padding-top: 7%;
  }
  p.cuisine {
    letter-spacing: 4px;
    margin: 0 15px 15px 15px;
    font-size: 0.9em;
  }
  h1.header-maru {
    font-size: 35px;
  }
  .notice {
    width: 100%;
    margin: 0;
  }
  .popup {
    top: 5%;
    width: 95%;
    max-width: 520px;
  }

  .notice-sentence1 {
    text-transform: uppercase;
    /* font-size: 30px; */
  }

  .right {
    /* padding-left: 10px; */
    padding: 70px 50px;
  }
  
  .notice-sentence {
    max-width: 340px;
    text-align: center;
    margin: 0 auto 30px;
    font-size: 15px;
  }

  .content {
    flex-direction: row;
  }

  .popup img {
    width: 50%;
    margin-bottom: 0;
  }
  
}

@media only screen and (min-width: 600px) {
  .top-text {
    padding-top: 5%;
  }
  h1.header-maru {
    font-size: 60px;
  }
  p.cuisine {
    font-size: 1em;
  }

  .notice-sentence1 {
    /* font-size: 30px; */
  }
  
  .notice-sentence {
    max-width: 340px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .top-text {
    padding-top: 3%;
  }
  h1.header-maru {
    font-size: 80px;
  }
  p.cuisine {
    font-size: 1.1em;
  }
  .popup {
    top: 10%;
    width: 70%;
  }

  .notice-sentence1 {
    /* font-size: 30px; */
  }
  
  .notice-sentence {
    max-width: 440px;
    margin: 0 auto 60px;
    font-size: 20px;

  }
}

@media only screen and (min-width: 992px) {
  .top-text {
    padding-top: 2%;
  }

  p.cuisine {
    font-size: 25px;
  }

  .notice {
    margin: 100px auto;
    width: 60%;
  }
  
  .notice-sentence1 {
    /* font-size: 30px; */
  }
  
  .notice-sentence {
    max-width: 540px;
    font-size: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .top-text {
    text-align: center;
    padding-top: 2%;
  }
  p.cuisine {
    font-size: 30px;
  }
  h1.header-maru {
    font-size: 150px;
  }
} 
