.menu-box { padding: 0 0 100px 0;}

#menu-boxes nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap: 5px;
    justify-items: center;
    margin-bottom: 50px;
    padding-top: 150px;
    font-weight: 900;
    /* background: rgba(0,0,0,.8); */
}


#menu-boxes nav::after {
	content: '';
	display: block;
	clear: both;
}

#menu-boxes label {
	cursor: pointer;
	display: inline-block;
	color: black;
    font-size: 45px;
	padding: 0 15px;
    text-transform: uppercase;
	/* float: left; */
	/* transition: background-color .3s; */
}

#menu-boxes label:hover {
	background-color: rgba(255,255,255,.1);
    border-bottom: 2px solid white;
    /* color: brown; */
}

.link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
    text-transform: uppercase;
}

.link a:link,
.link a:visited {
    text-decoration: none;
    background: rgba(0,0,0,.5);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.notice {
    margin-bottom: 30px;
}

.notice p {
    text-align: center;
    margin-bottom: 0;
}

#menu-boxes > .menu-row {
    width: 60%;
    margin: auto auto;
    background-color: transparent;
	display: none;
    color: black;
}

#menu-boxes > .menu-row > h4 {
    margin-bottom: 0;
}

.split-column {
    margin: 20px 0 80px 0;
}

/* Clear floats after the columns */
.menu-row:after {
    content: "";
    display: table;
    clear: both;
}

.menu-row {
    margin-top: 30px;
    margin-left: 50px;
}

.split-column {
    float: left;
    width: 45%; 
}

.menu-column {
    margin-bottom: 20px;
}

.menu-column:hover {
    /* text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black; */
    /* font-weight: 900;
    color: white;
    background-color: black; */
}

.menu-column span {
    padding-bottom: 10px;
}


.menu-column span {float: right; }

.split-column:nth-of-type(2){ margin-left: 70px;}

#panel4 h4 span,
#panel5 h4 span,
#panel6 h4 span,
#panel7 h4 span,
#panel8 h4 span {
    color: brown;
}

/* .menu-column:hover { transform: scale(1.03); }
#panel1 { cursor: url('../images/tea.png')  4 12 , auto; }
#panel2 { cursor: url('../images/avocado.png')  4 12 , auto; }
#panel3 { cursor: url('../images/sushi.png')  4 12 , auto; }
#panel4 { cursor: url('../images/fresh.png')  4 12 , auto; }
#panel5 { cursor: url('../images/sushi.png')  4 12 , auto; }
#panel6 { cursor: url('../images/ramen.png')  4 12 , auto; }
#panel7 { cursor: url('../images/onigiri.png')  4 12 , auto; }
#panel8 { cursor: url('../images/sashimi.png')  4 12 , auto; } */

#menu-boxes input { display: none; }

#menu-boxes > input[id='tab1']:checked ~ nav label[for='tab1'],
#menu-boxes > input[id='tab2']:checked ~ nav label[for='tab2'],
#menu-boxes > input[id='tab3']:checked ~ nav label[for='tab3'],
#menu-boxes > input[id='tab4']:checked ~ nav label[for='tab4'],
#menu-boxes > input[id='tab5']:checked ~ nav label[for='tab5'],
#menu-boxes > input[id='tab6']:checked ~ nav label[for='tab6'],
#menu-boxes > input[id='tab7']:checked ~ nav label[for='tab7'],
#menu-boxes > input[id='tab8']:checked ~ nav label[for='tab8'] {
    color: white;
    background-color: black;
}

#menu-boxes > input[id='tab1']:checked ~ div[id='panel1'],
#menu-boxes > input[id='tab2']:checked ~ div[id='panel2'],
#menu-boxes > input[id='tab3']:checked ~ div[id='panel3'],
#menu-boxes > input[id='tab4']:checked ~ div[id='panel4'],
#menu-boxes > input[id='tab5']:checked ~ div[id='panel5'],
#menu-boxes > input[id='tab6']:checked ~ div[id='panel6'],
#menu-boxes > input[id='tab7']:checked ~ div[id='panel7'],
#menu-boxes > input[id='tab8']:checked ~ div[id='panel8']  {
	display: block;
}

@media only screen and (max-width: 992px) {
    #menu-boxes{ padding: 0 0; }

    #menu-boxes .menu-row{
        width: 100%;
        margin: auto;
    }

    .split-column {
        float: left;
        width: 100vw;
        margin: auto;
        padding: 0 20px;
    }

    .menu-column span {float: right; }
    .menu-column h4 { font-size: 20px; }     
    .split-column:nth-of-type(2){margin-left: 0; }
    .link {
        gap: 10px;
        margin-bottom: 20px;
    }

    .notice { margin-bottom: 30px; }
    #menu-boxes nav {padding-top: 125px;}
}

